@tailwind base;
@tailwind components;
@tailwind utilities;

.deneme {
  background-image: url("/Profile_1.webp");
  width: 380px;
  height: 380px;
  background-size: cover;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

@media (max-width: 768px) {
  .deneme {
    max-height: 95%;
    max-width: 80%;
    margin-bottom: 50%;
  }
}
